// * custom utilites
$utilities: (
  "position": (
    property: position,
    values: relative absolute,
  ),
  "font-size": (
    rfs: true,
    property: font-size,
    class: fs,
    values: $font-sizes,
  ),
  "font-weight": (
    property: font-weight,
    class: fw,
    values: (
      light: $font-weight-light,
      normal: $font-weight-normal,
      bold: $font-weight-bold,
    ),
  ),
);
